@import "tailwindcss";

@theme {
--font-Poppins: "Poppins", sans-serif;
--font-Volkhov: "Volkhov", serif;
--font-Sans: "Open Sans", sans-serif;
--color-primary: #14183E;
--color-secondary: #181E4B;
--color-btnColor : #DF6951;
--color-textColor:#5E6282;
--color-textHeading : #1E1D4C;
--color-yelloColor: #F1A501;
--color-listColor : #212832;

}
button{
  cursor: pointer;
}